<h1>Привет, <%= @current_user.name %>!</h1>

<%= link_to 'Добавить книгу',  new_user_book_url(@current_user) %>
<%= link_to 'Аккаунт', user_url(@current_user) %>

<h1> Список книг </h1>

<ul>
  <%- @books.each do |book| %>
    <li>
      <%= link_to book.title, user_book_url(@current_user, book) %>
    </li>
  <% end %>
</ul>
